accelerate
av>=12.0.0
cmudict
cn2an
faster-whisper>=1.0.0
g2p_en
GPUtil
gradio>=4.32
hf_xet
jieba
librosa==0.9.2
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime>=1.23.2
onnxruntime-directml>=1.23.0; sys_platform == 'win32'
onnxruntime-gpu>=1.23.2; sys_platform != 'darwin'
onnxsim-prebuilt
protobuf==4.25
psutil
punctuators
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
soxr
stable_ts
tensorboard
torch>=2.9.0
torchaudio>=2.9.0
transformers>=4.47.0
umap-learn
